ul{
  display: flex;
  justify-content: center;
  gap:10%;
  list-style-type: none;
  padding: 2rem;
  margin: 0 0;
}

header{
    background-color: #0F2C59;
}

.lien_header{
     color: #F7F7F7;
     padding:1rem;
     cursor:pointer;
     text-decoration: none;
}

.lien_header:hover{
     color: #fdfdfd;
     background-color: #1a4d9a;
     border-radius: 12px;
}

.lien_header:active{
     color: #fdfdfd;
     background-color: #366cbd;
     border-radius: 12px;
}